* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

header {
  width: 100%;
  background-color: #FCEEF1;
}
nav {
  background-color: #FFFFFF;
  width: 100%;
  position: fixed;
  z-index: 999;
}
ul {
  margin: 0px auto;
  padding: 30px;
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
li {
  list-style: none;
}
li a {
  text-decoration: none;
  color: #272727;
  font-weight: bold;
}
section,
footer {
  width: 100%;
  margin-top: 130px;
}
h1 {
  color: #272727;
  font-size: 3rem;
  font-family: 'Courier New', Courier, monospace;
}
p {
  color: #7D7A7B;
  font-size: 1.2rem;
  line-height: 1.5;
  margin: 20px 0px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
button {
  background-color: #E55473;
  color: #FCEEF1;
  padding: 20px 40px;
  border: 1px solid #E55473;
  border-radius: 5px;
  font-size: 1rem;
}

main {
  margin: 130px 240px;
}
footer {
  text-align: center;
  background-color: #111010;
  padding: 100px 150px;
}
footer h1 {
  color: #E55473;
}
footer span {
  color: #F4F4F4;
}
footer div {
  padding: 50px;
}
footer p {
  margin-bottom: 0px;
  color: #F4F4F4;
}
footer p.copy-right {
  color: #707070;
}
.logo {
  width: 80px;
  position: fixed;
  z-index: 9999;
  left: 50px;
  top: 15px;
}
.header-content {
  padding-top: 130px;
}
.header-content,
.sign-up-content {
  margin: 0px 240px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-text,
.sign-up-text {
  width: 50%;
  padding: 20px;
  text-align: left;
}

.header-text span {
  color: #000000;
  font-size: 3.5rem;
}
.header-text p {
  text-align: left;
}
.sign-up-text p {
  text-align: center;
}

.text-div {
  width: 50%;
  margin: 0px auto;
  text-align: center;
}
.text-div p {
  margin: 10px;
}
.feature-image-div {
  display: flex;
  justify-content: space-between;
  margin: 30px auto;
}
.feature-image-div p {
  color: #000000;
}

.image-container {
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  margin: 10px;
  width: 464px;
  height: 540px;
  position: relative;
}
.image-container-1 {
  background-color: #F2DEE7;
}
.image-container-2 {
  background-color: #D9EFF1;
}
.image-container-3 {
  background-color: #E3EBDB;
}
.image-container img {
  width: 310px;
  height: 428px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
}
.feature-image-div div p {
  font-weight: bold;
  margin: 20px auto;
  text-align: center;
  padding-bottom: 5px;
  border-bottom: 2px solid #000000;
  width: fit-content;
}
.service {
  background-color: #F4F4F4;
  padding: 90px 175px;
  display: flex;
  justify-content: space-around;
}
.service div {
  text-align: center;
}
.service p {
  margin-top: 10px;
  color: #505050;
  font-weight: bold;
}

.sign-up {
  background-color: #FEF6F8;
  padding: 20px;
}
.sign-up-text {
  text-align: center;
  width: 60%;
}
.sign-up-text h1 span {
  color: #E55473;
}
.sign-up-text button {
  margin-top: 20px;
}
.social-media h1 {
  text-align: center;
}
.social-media p {
  width: 60%;
  margin: 20px auto;
}
.subscribe {
  background-image: url("assets/images/Rectangle9.png");
  background-size: cover;
  padding: 120px 290px;
}
.subscribe h1 {
  font-size: 2rem;
}
.subscribe h1, p {
  text-align: center;
}
.subscribe input {
  padding: 20px;
  width: 70%;
  float: left;
  margin-right: 10px;
  border: none;
  font-size: 1rem;
}